# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files


# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# iOS
ios/Pods/
ios/Podfile.lock
ios/build/
ios/DerivedData/
ios/.idea/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/Podfile.lock
ios/.DS_Store
ios/*.xcodeproj/project.pbxproj
ios/GeneratedFiles/
ios/xcuserdata/
ios/*.plist

# Android
android/.gradle/
android/app/build/
android/build/
android/app/src/debug/
android/app/src/release/
android/app/src/androidTest/
android/app/libs/
android/local.properties
android/.idea/
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/drawable*
android/app/src/main/res/raw